{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/choptastic/boxer">>},
          {extras, [<<"README.md">>, <<"LICENSE.md">>]},
          {main, <<"readme">>}]}.

Alternatively if using OTP < 24 or you prefer edoc, add the following to your rebar.config :

{hex, [{doc, edoc}]}.

